/// Container's width
$max-width: 1200px !default;
$min-width: 300px !default;

/// Map breakpoints
$breakpoints: (
  'small': 410px,
  'medium': 768px,
  'large': 1024px,
) !default;

//Colors
$brand-color: rgb(3, 22, 51);
