html {
  box-sizing: border-box;
  min-width: $min-width;
  font-size: 21px;
  @include breakpoint('medium') {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
}

a:hover {
  @include pointer;
}
